<div  ng-controller="playerController" style="margin: 1% 3%; color: #FFFFFF">
	
	<form style="" class="ui form">
		<h3 style="display:inline-block; margin-right: 20px;"><i class="grey announcement icon"></i>Player</h3>		
		<div ng-if="playlists" class="field" style=display:inline-block>
			<label style="display:inline">Playlist 1</label>
			<select class="ui fluid dropdown" ng-change="loadPlaylist(playlists)" ng-model="playlists" style="display:inline">
				<option value="" selected>Playlist</option>
				<option value="favourites">Favourites</option>
				<option ng-repeat="playlist in playlists" value="{{playlist._id}}">{{playlist.name}}</option>
			</select>
		</div>
	</form>
	<div id="active_videos">
		<div id="active_video" class="video_player">
			player 1
		</div>
		<div id="next_video" class="video_player">
			Player 2
		</div>
	</div>
	<div id="other_videos">
		<article class="videolist" style="display:inline-block" ng-repeat="video in playerList[0].videos" id="{{video.id}}">
			<a class="tumb-href" data-toggle="modal" ng-click="loadVideo(video.id['videoId'])" data-target="#myModal">  			
				<img class="video-thumb" src="{{video.thumbnail['url']}}">
			</a>    
		  <div class="video-info">
			  <div class="duration" style="float:right"></div>
		    <div class="author">{{video.channelTitle}}</div>
				<div class="authorId" style=display:none>{{video.channelId}}</div>
		  </div>
		  <div class="video-text">
		  	<div class="title">    
		      <a  ng-click="loadVideo(video.id['videoId'])"><strong>{{video.title}}</strong></a>
		    </div>
		    
		    <div style="inline-block">
		    	<i class="big Empty Heart icon"></i>
		    </div>
		  </div>
		</article>
	</div>
</div>
